:root {

  --main-color: #0090f0;
  --p-color: #7b7b7b;
  --bg-color:#f3f3f3;
  --color-heading:#253237;
  --border-color: #d6d6d6d5;

}

.item-details{
    padding: 50px 0;
}

.item-details .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-details .img-item{
    width: 40%;

}
.item-details .img-item .big-img{
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15px 0;
    margin-bottom: 20px;

}

.item-details .img-item .big-img img{
    max-height: 450px;
    width: auto;
    

}

.item-details .img-item .sm-img{
    display: flex;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    

}

.item-details .img-item .sm-img img{

    width: 23%;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #eee ;
    transition: .3s;
    
}

.item-details .img-item .sm-img .min-img-border {
    border: 1px solid var(--main-color);

}

.item-details .img-item .sm-img .min-img-border-none {
    border: none;

}



.item-details .img-item .sm-img img:hover{
    padding: 15px;
}

.item-details .details-item{

    width: 58%;

}

.item-details .details-item .name{
    margin-bottom: 30px;
    color: var(--color-heading);
}

.item-details .details-item .stars{
    margin: 15px 0;
    display: flex;
    gap: 5px;
    color: #f8d941;
    font-size: 20px;


}

.item-details .details-item .price{

    font-size: 22px;
    margin: 20px 0;

}

.item-details .details-item h5{

    font-weight: 700;
    margin-bottom: 20px;
    font-size: 16px;

}

.item-details .details-item .desc{
    line-height: 1.5;
}

.item-details .details-item .stock , .item-details .details-item .category{
    font-size: 20px ;
    margin-top: 20px;

}

.item-details .details-item .btn {
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 20px;

}

.item-details .details-item  .icons {

    display: flex;
    gap: 10px;
    
    


}

.item-details .details-item  .icons span {
    width: 40px;
    height: 40px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: .4s;
    
}

  .item-details .details-item  .icons span:hover{
    background-color: var(--main-color);
    color: #fff;
  } 


  .loading-item .item-details  .img-item {

    height: 400px;
    border-radius: 10px;

  }

    .loading-item .item-details .details-item{

        height: 400px;
        
        

    }

    .loading-item .item-details .details-item h5{
        margin-bottom: 20px;
        height: 50px;
        border-radius: 10px;
        
    }

   